<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebBeaver</title>

    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
    <main>
        <div>
            <h1 id="title">WebBeaver</h1>

            <div class="grid">
                <div>
                    <a href="https://github.com/RickLugtigheid/WebBeaver" target="_blank">Github</a>
                </div>
                <div>
                    <a href="https://webbeaver.github.io/WebBeaverDocs/" target="_blank">Documentation</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
